<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Site Analyzer</title>
    <meta name="description" data-th-content="${description}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href="/img/icon/icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/reset.css" media="all">
    <link rel="stylesheet" href="/css/style.css" media="all">
    <link rel="stylesheet" href="/css/wide-style.css" media="screen and (min-width: 741px)">
</head>
</html>