form {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    background: #aaa;
    padding: 10px;
}

form input, textarea, select {
    width: 100%;
    margin-bottom: 15px;
    font-size:20px;
}
form textarea{
    height: 100px;
}

#picForm input{
    width: fit-content;
}
.required::before{
    content:"*";
    color: red;
    margin-right: 10px;
}

#body-preview{
    width: 100%;
    background: #fff;
    margin-bottom:15px;
}
section.body-tags div{
    display:inline-block;
    min-width:30px;
    border-radius: 3px;
    background:#eee;
    text-align:center;
    padding: 5px;
    cursor: pointer;
}

