@media screen and (min-width: 741px) {
    main {
        font-size: 20px;
    }
    /*nav {
        width: 90%;
        max-width: 1300px;
    }*/
    main, nav, footer div {
        width: 90%;
        margin: 0 auto;
        max-width: 1400px;
    }
    #top-section{
        padding: 60px 0;
    }

    .top-image {
        background-size: 50%;
       /* max-width: 1400px;
        margin: auto;*/

    }

    #call_me {
        width: fit-content;
    }
    #call_me input {
        margin: 30px 10px 0;
        padding: 10px;
        min-width: 350px;
        font-size: 28px;
    }

    ._2-column{
        display: inline-block;
        width: 49%;
        vertical-align: top;
        padding-left: 50px;
    }
/*
    table{
        max-width: 741px;
        margin: auto;
    }
*/
    .why-us ul {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    .why-us ul li {
        padding: 40px 0;
        width: 45%;
        flex: 0 1 auto;
    }


}