<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header>
    <nav th:replace="~{fragments/nav :: nav}"></nav>
</header>
<main>

    <h1 th:text="${h1}"></h1>

    <section id="top-section">
<!--/* TODO: create slider        */-->
        <div class="top-image">
            <form id="call_me">
                <div class="pink bold upper-case">Закажите обратный звонок!</div>

                <input type="hidden" name="page_address" th:value="${path} ? ${path} : '/'">
                <div>
                    <input type="text" id="client_name" name="name" placeholder="Имя">
                </div>
                <div>
                    <input type="tel" id="input-phone" maxlength="19" value="" required="" name="phone"
                           placeholder="+7 (___) ___-__-__">
                </div>
                <div>
                    <button id="call_me_button" class="gold" type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </section>

    <th:block class="body" th:utext="${body}"></th:block>

    <div class="why-us">
        <h2>Почему выбирают нас?</h2>
        <ul>
            <li class="why-us__1 hr">
                <h3>Быстро</h3>
                Если ремонт выполняется в мастерской, приступаем к работе незамедлительно.
                Если на дому, в 95% случаев ремонтируем за 1 приезд.
            </li>
            <li class="why-us__2 hr">
                <h3>Качественный ремонт</h3>
                Мы выполняем ремонт качественно и даем гарантию до 12 месяцев.
            </li>
        </ul>
        <ul>
            <li class="why-us__3 hr">
                <h3>Качественные запчасти</h3>
                Используем только качественные запчасти, т.к. даем гарантию, а по гарантии ремонтируем бесплатно.
            </li>
            <li class="why-us__4 hr">
                <h3>Привлекательные цены</h3>
                Наши цены ниже средних по рынку.
            </li>
        </ul>
    </div>

    <div class="brand fading-text">
        <div>
            <div>
                <h2>Бренды которые мы ремонтируем</h2>
                <ul>
                    <li>Aeg</li>
                    <li>Amana</li>
                    <li>Ardo</li>
                    <li>Ariston</li>
                    <li>Atlant</li>
                    <li>Bauknecht</li>
                    <li>Beko</li>
                    <li>Blomberg</li>
                    <li>Bomann</li>
                    <li>Bompani</li>
                    <li>Bosch</li>
                    <li>Candy</li>
                    <li>Daewoo</li>
                    <li>De Dietrich</li>
                    <li>Electrolux</li>
                    <li>Fagor</li>
                    <li>Fhiaba</li>
                    <li>Franke</li>
                    <li>Frigidaire</li>
                    <li>Gaggenau</li>
                    <li>General Electrik</li>
                    <li>Ginzzu</li>
                    <li>Gorenje</li>
                    <li>Hisense</li>
                    <li>Hansa</li>
                    <li>Hitachi</li>
                    <li>IO MABE</li>
                    <li>Ilve</li>
                    <li>Indesit</li>
                    <li>Jackys</li>
                    <li>Kaiser</li>
                    <li>KitchenAid</li>
                    <li>KRAFT</li>
                    <li>Kuppersberg</li>
                    <li>Kuppersbusch</li>
                    <li>Lg</li>
                    <li>Liebherr</li>
                    <li>Maytag</li>
                    <li>Miele</li>
                    <li>Midea</li>
                    <li>Mitsubishi Electric</li>
                    <li>Nardi</li>
                    <li>Neff</li>
                    <li>Panasonic</li>
                    <li>Samsung</li>
                    <li>Sharp</li>
                    <li>Shivaki</li>
                    <li>Siemens</li>
                    <li>Smeg</li>
                    <li>Stinol</li>
                    <li>Sub Zero</li>
                    <li>Supra</li>
                    <li>Teka</li>
                    <li>Toshiba</li>
                    <li>Vestel</li>
                    <li>Vestfrost</li>
                    <li>Viking</li>
                    <li>Weissgauff</li>
                    <li>Whirlpool</li>
                    <li>Zanussi</li>
                    <li>Zigmund Shtain</li>
                </ul>
            </div>
        </div>
        <p class="fading-text__toggle">Показать все</p>
    </div>

    <th:block th:utext="${seo}"></th:block>

    <th:block th:if="${published}">
        <time class="fs-12" itemprop="dateCreated" th:datetime="${published}"
              th:text="'Опубликовано ' + ${#dates.format(published, 'dd MMM yyyy')}">Опубликовано</time>
    </th:block>
    <th:block th:if="${modified}">
        <time class="fs-12" itemprop="dateModified" th:datetime="${modified}"
              th:text="'Обновлено ' + ${#dates.format(modified, 'dd MMM yyyy')}">Обновлено</time>
        <!--/*meta itemprop="dateModified" th:content="${modified}"*/-->
    </th:block>
    <!--/*   TODO: point the picture url in this input value like: value="url(/pictures/Ref-table.webp) */-->
    <input type="hidden" id="topImgUrl" value="url(/pictures/Alex.webp)">

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<a href="tel:+74732956060" class="call-icon">
    <img width="100%" height="100%" src="/img/svg/phone-call-icon.svg" alt="call">
</a>

<script>
window.addEventListener('DOMContentLoaded', (event) => {
    setTimeout(() =>{
        if(window.screen.width > 740){
            document.querySelector('.top-image').style.backgroundImage = document.getElementById("topImgUrl").value;
        } else {
            document.querySelector('.top-image').style.backgroundImage =
                    document.getElementById("topImgUrl").value.replace("pictures/", "pictures/360/");
        }
<!--        document.body.insertAdjacentHTML("beforeend",-->
<!--            '<a href="tel:+74732956060" class="call-icon"><img width="100%" height="100%" src="/img/svg/phone-call-icon.svg" alt="call"></a>'-->
<!--        );-->
    }, 200);
});
</script>

</body>
</html>